@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*----------------Navigation Bar-----------------*/
.nav{
    background :white;
   padding: 0 1rem;

    overflow: hidden;
    transition: height 1s ease-in-out;
}

.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height:60px;
  width:60px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;

}
.menu-btn img{
border-radius: 50%;
}

.left{
float:left;
}
/*-----------------Footer-----------------*/
footer.footer{
    height: 100%;

    position: relative;
}

.footer{

  text-align: center;
  padding:1rem;
  background-color:#ddb892;
  color:#9c6644;
}
.footer .title{
font-family: 'Dancing Script', cursive;
text-align:center;
color:#9c6644;
padding: 1rem 3rem;font-size:65px;
}
.footer .row{
padding-top:2rem;
padding-bottom:2rem;
}
.footer .row a{
padding:1rem 1rem;
}
.footer .rows a{
color:#9c6644;
text-decoration:none;
}
.footer .footer-copyright{
padding:1.5rem 0rem;
}
.footer .rows a{
padding-left:3%;
padding-right:3%;
}
.footer .row a:hover{
  color:#ede0d4;
}
.footer .rows a:hover{
  color:#ede0d4;
}
/*-----------------gallery-----------------*/
.gallery-section{
  width: 100%;
  padding: 60px 0;
  background: #ede0d4;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size:50px;
  color: #9c6644;
}

.border{
  width: 400px;
  height: 4px;
  background: #9c6644;
  margin: 60px auto;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;

}

.gallery-section .image{
  flex:20%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 90%;
  height:90%;
  transition: 0.4s;
}

.gallery-section .image:hover img{
  transform: scale(1.4) skew(18deg,18deg);
}
/*-----------------About-----------------*/
.aboutaxl{
background-color:#f1e7dc;}
.about-section{
    background: url("../assets/about.jpg") no-repeat left;
    background-size: 65%;
    background-color:#f1e7dc;
    overflow: hidden;
    padding: 100px 0;
}


.inner-container{

    border:2px solid #9c6644;
    border-radius:30px;
    width: 45%;
    border-radius:25px;
    float: right;
    background-color: #f3d5b5;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 900;
    color:#7f5539;
    font-family: 'Dancing Script', cursive;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
}


.rapper{
  background:#f1e7dc;

}

.rapper h1{
  font-family: 'Dancing Script', cursive;
  font-size: 52px;
  color:#7f5539;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  background:#f1e7dc;
}
/*-----------------meet my friends-----------------*/

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 7px;
  margin-bottom: 40px;
  width: 400px;
  padding: 25px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
}

.team .team_member h3{
  color: #9c6644;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  margin-top: 100px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 150px;
  height: 150px;
  padding: 5px;
  border-radius: 50%;
  filter: grayscale(80%);
  cursor: pointer;
  transition: 400ms
}
.team .team_member .team_img:hover img{
  filter: grayscale(0);
}
/*-----------------Contact-----------------*/
.contact{
background:url("https://www.muralswallpaper.com/app/uploads/Neutral-Dog-Paw-Print-Pattern-Wallpaper-Mural-Plain-820x532.jpg");
}
.contact .open{
padding-top:5rem;
}

/*-----------------Home-----------------*/
.homeaxl{
background:red;
}
.home-section{

    background-size: 65%;
    background-color:white;
    overflow: hidden;
    padding: 2rem 10rem;
}
.home-section img{
border-radius:30px;
}

.home-container{
    width: 45%;
    border:10px solid #9c6644;
    border-radius:30px;
    margin-right:2%;
    float: right;
    background-color:white;
    padding: 75px;
}

.home-container h1{
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 900;
    color:#7f5539;
    font-family: 'Dancing Script', cursive;
}
.home-container p{
    padding-bottom:8rem
    font-size: 18px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
}
.button {
  padding: 15px 4rem;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #d4a373;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #ede0d4;
}

.button:hover {background-color: #9c6644}

.button:active {
  background-color: #9c6644;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button a{
text-decoration:none;
color:#fff
}
/*-----------------responsive-----------------*/
@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
    .home-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
    .home-section img{
        width:100%
    }
    .home-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .home-container{
        width: 100%;
    }

}
}

@media screen and (max-width:600px){
    .home-section{
        padding: 0;
    }
    .home-section img{
        width:100%
    }
    .home-container{
        padding: 60px;
    }
    .about-section{
        padding: 0;
    }
    .home-container{
        padding: 60px;
    }

}
@media only screen and (max-width:750px){
   .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
